안녕하세요. 수강생 여러분~! Chapter09 ~ 13 수업은 잘 들으셨나요?

Chapter09 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후 ▷ 버튼을 클릭해 코드를 실행해보세요<br>

---

[문제1]<br>

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "비밀"을 "나폴레옹"과 "괴물" 사이에 추가해주세요



```
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
```

In [9]:
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
movie.insert(2,'비밀')
print(movie)

['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']

---

[문제2]<br>

movie_rank 리스트에서 '베트맨'를 삭제해주세요

```
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
```

In [10]:
del movie[-1]
print(movie)

['서울의 봄', '나폴레옹', '비밀', '괴물']

---

[문제3]<br>

[언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

```lang1 = ["C", "C++", "JAVA"]```<br>
```lang2 = ["Python", "Go", "C#"]```  

실행 예:
언어들
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [14]:
lang1 = ["C","C++","JAVA"]
lang2 = ["Python","Go","C#"]

언어들 = lang1 +lang2

print(언어들)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

---

[문제4]<br>

다음 리스트에서 최댓값과 최솟값을 출력해주세요.

```
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
```

In [20]:
nums = [1,2,3,4,5,6,7,8,9,10]

print(max(nums),min(nums))

10 1

---

[문제5]

다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

```cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]```

In [22]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]
print(len(cook))

8

---

[문제6]

다음 리스트의 평균을 출력해주세요

```nums = [1, 2, 3, 4, 5]```

In [24]:
nums = [1, 2, 3, 4, 5]
avg = sum(nums)/len(nums)

print(avg)

3.0

---

[문제7]

price 변수에는 날짜와 종가 정보가 저장돼 있습니다.
날짜 정보를 제외하고 가격 정보만을 출력해주세요

```price = ['20180728', 100, 130, 140, 150, 160, 170]```

출력:
[100, 130, 140, 150, 160, 170]

In [29]:

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

---

[문제8]

아래 코드 실행 시 오류가 발생한 사유를 설명해주세요

```t = (1, 2, 3)```<br>
```t[0] = 'a' ```<br>
```Traceback (most recent call last):```  
   ```File "<pyshell#46>", line 1, in <module>```  
      ```t[0] = 'a'```   
```TypeError: 'tuple' object does not support item assignment```

t는 튜플을 나타내는 용어이고, 튜플은 값을 변경 할 수 없는 속성을 가지고 있음으로, 1을 a로 바꾸는 것은 불가능하다.

---

[문제9]
다음 딕셔너리를 사용하여 메로나 가격을 출력해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

실행 예:
메로나 가격: 1000

In [44]:
ice = {'메로나': 1000, 
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice["메로나"]

1000

---

[문제10]

다음 딕셔너리에서 메로나의 가격을 1300으로 수정해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

In [45]:
ice["메로나"] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

---

[문제11]

아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요


names : 나이썬, 김자바, 김씨, 박씨샵  
grades :   B       B      A      C

In [38]:
수강생 = {"나이썬":'B', "김자바" : 'B', "김씨" : 'A', "박씨샵":'C'}
수강생

{'나이썬': 'B', '김자바': 'B', '김씨': 'A', '박씨샵': 'C'}

---

[문제12]

아래 ice 딕셔너리에 데이터를 추가 후 출력해주세요

ice = {"메로나": [300, 20],  
              "비비빅": [400, 3],  
              "죠스바": [250, 100]}  


추가해야하는 데이터 : 이름 : 보석바, 가격:650, 재고:10

In [47]:
ice["보석바"] = [300,20]

ice

{'메로나': 1300,
 '폴로포': 1200,
 '빵빠레': 1800,
 '죠스바': 1200,
 '월드콘': 1500,
 '보석바': [300, 20]}

---

[문제13]

아래 딕셔너리에서 key만 출력해주세요  

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [48]:
ice.keys()

dict_keys(['메로나', '폴로포', '빵빠레', '죠스바', '월드콘', '보석바'])

### 프로젝트: 간단한 ATM 관리 시스템

[문제 1: 잔액 확인]

현재 잔액은 1000원입니다. 현재 잔액을 출력하세요. (변수명 예시 : 잔액 - balance)

In [83]:
balance = 1000
print(f'현재 잔액은 {balance}원 입니다.')

현재 잔액은 1000원 입니다.

[문제 2: 입금]

가지고 있는 돈을 입금합니다.

입금 금액을 입력받고, 잔액을 갱신한 후 새로운 잔액을 출력하세요. 입금 거래를 영수증 리스트에 기록하세요.

- 입금 금액은 input()을 이용해 받습니다.
- 영수증은 list()로 선언합니다.
- 영수증에 들어가는 정보는 튜플 형태입니다.
- 튜플에 담기는 정보는 (입금 or 출금, 입금 or 출금 금액, 현재 잔액)순 입니다.

(변수명 예시: 영수증 리스트 - receipts, 입금 금액 - deposit_amount)

In [84]:
deposit_amount = int(input("입금하실 금액을 입력해주세요"))
receipts =[]

balance += deposit_amount
receipts.append(('입금', deposit_amount,balance))

print(f'입금 후 잔액 : {balance}')
print(receipts)

입금 후 잔액 : 7000
[('입금', 6000, 7000)]

[문제 3: 출금]

사용자가 돈을 출금합니다. 출금 금액을 입력받고, 잔액을 갱신한 후 새로운 잔액을 출력하세요. 출금 거래를 영수증 리스트에 기록하세요. 

- 출금 금액은 input()을 이용해 받습니다.
- 현재 잔액보다 출금 요청 금액이 많을 경우 현재 잔액 만큼만 출금되도록 합니다.
- 영수증에 들어가는 정보는 튜플 형태입니다.
- 튜플에 담기는 정보는 (입금 or 출금, 입금 or 출금 금액, 현재 잔액)순 입니다.

(변수명 예시: 출금금액 - withdraw_amount)

In [85]:
withdraw_amount = int(input("출금하실 금액을 입력해주세요"))
withdraw_amount = min(withdraw_amount,balance)
balance -= withdraw_amount

receipts.append(('출금', withdraw_amount,balance))
print(f'출 후 잔액 : {balance}')
print(receipts)

출 후 잔액 : 0
[('입금', 6000, 7000), ('출금', 7000, 0)]

[문제 4: 모든 거래 내역 확인]

모든 거래 내역(영수증)을 요청받았을 때 출력하세요.
- 지금까지 영수증에 추가된 정보를 출력합니다.
- 출력 형태는 자유입니다.

In [87]:
print(f'모든 거래 내역 : {receipts}')

모든 거래 내역 : [('입금', 6000, 7000), ('출금', 7000, 0)]